@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&family=Puppies+Play&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: linear-gradient(130deg, rgba(79,173,230,1) 0%, rgba(123,95,214,1) 50%, rgba(166,20,198,1) 100%); */
}

.kotak {
    display: flex;
    flex-direction: column;
    width: 600px;
    /* height: 500px; */
    padding: 25px 30px 0;
    background-color: white;
    border-radius: 1vh;
}

.box {
    width: 100%;
    /* border: 1px solid black; */
}

.judul {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    letter-spacing: 0.8px;
    font-size: 17px;
}

.box-2 {
    width: 21px;
    height: 3px;
    /* background: linear-gradient(130deg, rgba(79,173,230,1) 0%, rgba(123,95,214,1) 50%, rgba(166,20,198,1) 100%); */
    border-radius: 1vh;
    position: relative;
    top: -3px;
    margin-bottom: 2px;
}

.box-3 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.box-3-kiri {
    width: 48%;
    padding-top: 10px;
}
.box-3-kanan {
    width: 48%;
    padding-top: 10px;
}
.box-4 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.box-4-kiri {
    width: 48%;
    padding-top: 10px;
}
.box-4-kanan {
    width: 48%;
    padding-top: 10px;
}
.box-5 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.box-5-kiri {
    width: 48%;
    padding-top: 10px;
}
.box-5-kanan {
    width: 48%;
    padding-top: 10px;
}
.namenya {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 13px;
}
.input-namenya {
    width: 100%;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    border-radius: 0.6vh;
    border: 1px solid grey;
    padding: 5px 15px;
    margin-top: 6px;
}
input[type="radio"] {
    background-color: grey;
}

.box-6 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 15px;
    padding-top: 15px;
}

.box-7 {
    display: flex;
    flex-direction: row;
    padding-top: 5px;
}
.box-7-pad {
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    margin: 0 95px 1px 5px;
}

.box-8 {
    padding: 20px 0 50px 0;
}
.button-register {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-weight: 700;
    width: 100%;
    padding: 10px 0;
    border-radius: 0.5vh;
    border: 0;
    /* background: linear-gradient(130deg, rgba(79,173,230,1) 0%, rgba(123,95,214,1) 50%, rgba(166,20,198,1) 100%); */
}